body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

.zero {
  grid-column: span 2;
}
