* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f0e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
    margin: 20px;
}

.app {
    margin: 50px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.644);
    height: 400px;
    width: 600px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#quote {
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

#author {
    margin: 2px;
    padding: 5px;
}

#btn {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(241, 45, 45, 0.849);
    margin: 10px;
    padding: 10px;
    position: absolute;
    bottom: 80px;
    font-size: 1rem;
}